{# empty Twig template #}
{% extends "base.html.twig"%}

{% block styleSheet%}<link href="{{asset('css/profileCustom.css')}}" rel="stylesheet">{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3">

            <div id="image">
                <img src="{{asset('img/proPic.jpg')}}" alt="Profile Picture" class="profilePicFrame img-rounded">
            </div>

            <div id="navBox" style="margin-top: 1em;">
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-info">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    View Profile
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <ul>
                                    <li>Photos</li>
                                    <li>Friends</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Setup Profile
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body">
                                <ul>
                                    <li>Edit profile</li>
                                    <li>Settings</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <!--*************************************************************************************************-->

        <div class="col-md-9  panel panel-primary">
            <div class="panel-heading">
                <h2>Nipuna Sankalpa</h2>
            </div>

            <br />

            {#<div id="personalProfile">#}
                {#<div class="panel panel-info">#}
                    {#<div class="panel-heading">Personal Profile</div>#}
                    {#<div class="panel-body">#}
                        {#Panel content#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            {##}
            {#<div id="educationalProfile">#}
                {#<div class="panel panel-info">#}
                    {#<div class="panel-heading">Educational Profile</div>#}
                    {#<div class="panel-body">#}
                        {#Panel content#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
            <div class="panel-body">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#personalSection">Personal</a></li>
                <li><a data-toggle="tab" href="#educationSection">Education</a></li>
                <li><a data-toggle="tab" href="#workSection">Work</a></li>
            </ul>
            <div class="tab-content">
                <div id="personalSection" class="tab-pane fade in active">
                    <h3>Personal</h3>
                    <p>Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui. Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.</p>
                </div>
                <div id="educationSection" class="tab-pane fade">
                    <h3>Education</h3>
                    <p>Vestibulum nec erat eu nulla rhoncus fringilla ut non neque. Vivamus nibh urna, ornare id gravida ut, mollis a magna. Aliquam porttitor condimentum nisi, eu viverra ipsum porta ut. Nam hendrerit bibendum turpis, sed molestie mi fermentum id. Aenean volutpat velit sem. Sed consequat ante in rutrum convallis. Nunc facilisis leo at faucibus adipiscing.</p>
                </div>
                <div id="workSection" class="tab-pane fade">
                    <h3>Work</h3>
                    <p>WInteger convallis, nulla in sollicitudin placerat, ligula enim auctor lectus, in mollis diam dolor at lorem. Sed bibendum nibh sit amet dictum feugiat. Vivamus arcu sem, cursus a feugiat ut, iaculis at erat. Donec vehicula at ligula vitae venenatis. Sed nunc nulla, vehicula non porttitor in, pharetra et dolor. Fusce nec velit velit. Pellentesque consectetur eros.</p>
                </div>
                <div id="dropdown2" class="tab-pane fade">
                    <h3>Dropdown 2</h3>
                    <p>Donec vel placerat quam, ut euismod risus. Sed a mi suscipit, elementum sem a, hendrerit velit. Donec at erat magna. Sed dignissim orci nec eleifend egestas. Donec eget mi consequat massa vestibulum laoreet. Mauris et ultrices nulla, malesuada volutpat ante. Fusce ut orci lorem. Donec molestie libero in tempus imperdiet. Cum sociis natoque penatibus et magnis.</p>
                </div>
            </div>
            </div>
        </div>
    </div>

{% endblock %}